
.footer {
    display: flex;
    width: 100%;
    margin-top: auto;
}

.github {
    margin: 0 2rem 2rem auto;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}