.Container {
}

.Title {
    font-weight: normal;
}

.Loader {
    display: flex;
    gap: 15px;
}

.LoaderBullet {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    border: 1px solid #000;
    animation: 2s infinite normal load;

    &:nth-child(1) {
        //background: #000;
    }
    
    &:nth-child(2) {
        //background: #f7f7f7;
        animation-delay: 0.7s;
    }

    &:nth-child(3) {
        //background: #ebebeb;
        animation-delay: 1.2s;
    }
}

@keyframes load {
    0% {
        background: #fff;
    }
    
    10% {
        background: #000;
    }
    
    20% {
        background: #000;
    }
    
    100% {
        background: #fff;
    }
}