.Loader {
    display: flex;
    gap: 0.8rem;
}

.LoaderBullet {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: 1px solid unset;
    animation: 2.1s infinite normal load;
    background:  #ebebeb;

    &:nth-child(2) {
        animation-delay: 0.7s;
    }
    
    &:nth-child(3) {
        animation-delay: 1.4s;
    }
}

@keyframes load {
    0% {
        background: #ebebeb;
    }

    10% {
        background: #000;
    }

    20% {
        background: #000;
    }

    100% {
        background: #ebebeb;
    }
}