
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Input {
    margin-top: 1rem;
}

.Prompt {
    font-size: 1.2em;
}

.Error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.4rem;
}


.Input.Loading {
    //noinspection CssInvalidFunction
    background: linear-gradient(
                    to right,
                    #acacac 0% 45%,
                    #fff 50%,
                    #acacac 55% 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: loading-animation 2s linear infinite;
}

@keyframes loading-animation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}