
.Container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    width: 100%;
}

input.Loading {
    //noinspection CssInvalidFunction
    background: linear-gradient(
                    to right,
                    #acacac 0% 45%,
                    #fff 50%,
                    #acacac 55% 100%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-size: 200% 100%;
    animation: loading-animation 2s linear infinite;
}

@keyframes loading-animation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}