.main {
  flex: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.prompt {
  font-weight: normal;
}

.qr {
  
}