.QrWrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.Qr {
    border: 1px solid black;
    display: flex;
    
    &, & img {
        border-radius: 6%;
    }
}